* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    min-height: 100vh;
    background: linear-gradient(
        45deg,
        orange,
        blue
    );
    display: grid;
    place-items: center;
}



form {
    background: #fff;
    /* border: 2px solid #000; */
    box-shadow: 5px 5px 10px;
    border-radius: 12px;
    height: 95%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

}

#title {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px
}


.form-control {
    font-family: 'poppins', sans-serif;
    border: 2px solid red;
    height: 80px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-control label {
    font-size: 20px;
}


.form-control input {
    font-size: 18px;
    height: 28px;
    outline: none;
    padding-left: 3px;
    border-radius: 8px;
    border: 1px solid #000;
}

.form-control .valid-input {
    border: 2px solid rgb(0, 200, 0);
}

.form-control .not-valid-input {
    border: 2px solid red;
}

.form-control *:not(input) {
    margin-left: 2px;
}


.form-control small {
    color: red;
    visibility: hidden;
}

.form-control small.visible {
    visibility: visible;
}


#create-btn {
    width: 80%;
    height: 40px;
    color: #fff;
    background: rgb(53, 53, 255);
    border: none;
    border-radius: 8px;
}

#create-btn:active {
    background: rgb(0, 0, 150);
    color: #909090;
}